.herons-formula-section,
.ambiguous-case-section,
.newtons-method-section,
.polynomial-function-section {
    text-align:center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#herons-formula-error,
#polynomial-function-error,
#ambiguous-case-error,
#newtons-method-error{
    color: red;
    position:relative;
    bottom:5px;
    font-size:10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h6 {
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="number"],
input[type="text"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display:block;
}

input[type="submit"] {
    padding: 10px 15px;
    margin-top:10px;
    background-color: #25cec0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:90%;
}

input[type="submit"]:hover {
    background-color: #23bec4;
}