body {
  font-family: Arial, sans-serif;
  margin: 10%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  position: relative;
  top: 200px;
}

.functions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 700px;
  max-width: 1000px;
}